.navbar-container {
    display: flex;
    width: 80%;
    margin: 24px 0;
    flex-wrap: wrap;
}

.navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #FAF5C9;
    border-radius: 4px;
    color: black;
    font-size: 32px;
    padding: 8px;
}